{% extends 'base.html' %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <div class="card border-0">
    <div class="card-body">
      <div class="row">

        <div class="col-md-3">
          <figure>
            <img
              src="{{ user.avatar.url }}"
              class="img-fluid rounded-0"
              alt="{{ user.username }}">
          </figure>
        </div>

        <div class="col-md-9">

          <h5 class="card-title">
            {{ user }}
          </h5>

          <div class="card-text">
            <ul>
              <li>Никнейм: {{ user.username }}</li>
              {% if user.first_name %}
                <li>Имя: {{ user.first_name }}</li>
              {% endif %}
              {% if user.last_name %}
                <li>Фамилия: {{ user.last_name }}</li>
              {% endif %}
              {% if user.last_name %}
                <li>Отчество: {{ user.paternal_name }}</li>
              {% endif %}
              {% if user.bio %}
                <li>О себе: {{ profile.bio }}</li>
              {% endif %}
            </ul>
            {% if request.user == user %}
              <a href="{% url 'user_app:profile_update' user.username %}" class="btn btn-sm btn-primary">Редактировать профиль</a>
              <a href="{% url 'password_reset' %}" class="btn btn-sm btn-primary">Сменить пароль</a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div>
    {% if page_obj %}
    <h2>Лента мероприятий {{ user.username }}:</h2>
    {% for collect in page_obj %}
      <article class="mb-3">
        {% include 'includes/collect_card.html' %}
      </article>
    {% endfor %}
    {% include "includes/paginator.html" %}
  {% else %}
      <h2>{{ user.username }} пока не создавал сборов.</h2>
  {% endif %}
  </div>
{% endblock %}
