{% extends "base.html" %}

{% block title %}
  Наши правила
{% endblock %}

{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Правила сайта
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eum veritatis repudiandae animi molestias, rerum soluta unde voluptate molestiae velit, optio quasi labore voluptatibus nemo iste beatae expedita. Consequuntur, porro.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias earum nisi maxime accusamus quibusdam quae vitae cum ipsa quam nulla mollitia accusantium dolor quisquam eius sint repudiandae, ad quasi quaerat.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa temporibus, voluptatem omnis qui optio id repellendus molestiae blanditiis inventore magni, eligendi eum animi incidunt maiores suscipit consectetur cum ab maxime.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, soluta ea. Neque eligendi dolor autem sunt. Voluptate cupiditate veniam earum saepe illum enim veritatis. Totam sed pariatur perspiciatis deleniti accusantium?
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
